# Browsers used by more than 0.5% of global users
> 0.5%

# Last 2 major versions of all browsers
last 2 versions

# Devices and browsers from last 6-7 years
since 2018

# Explicitly include browsers that support ES2020 (BigInt support)
Chrome >= 67
Firefox >= 68
Safari >= 14
Edge >= 79
iOS >= 14
Android >= 67

# Exclude dead browsers and IE
not dead
not IE 11
not op_mini all
